<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
    <link  href="/css/style.css"  rel="stylesheet"/>
    <title>MeetUP-Video Conferencing</title>
</head>
<body>
<header>
    <div class="heading heading-extra">
        <h1>Meet<span style="color: #28A745;">UP</span> </h1>
    </div>
</header>

<section>
    <div class="heading">
        <a th:href="@{/signup}" class="btn btn-outline-primary buttons">Host</a>
        <div class="vertical-line"></div>
        <a href="/templates/pagesates/pages/join-meetup/join.html" class="btn btn-outline-success buttons">Join</a>
    </div>
</section>

<footer class="footer">
    <div>
        <h6> @Copyright Unicodez softcorp private ltd - 2020</h6>
    </div>
</footer>

</body>
</html>
