/*Index Page Css*/
html, body{
    
    background: white;
    letter-spacing: 0.2em;
    font-size: 2em;
}
  .heading-extra h1{
    color: #1fa2df;
    margin : 10% 20% 0;
  }

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    margin: 5% 10%;
    padding: 1% 5%;
    letter-spacing: none;
}

.vertical-line{
    border-left: 2px solid #1fa2df;
    height: 100px;
}

.footer{
    text-align: center;
    margin-top: 300px;
}

.footer h6{
    font-size: 20px;
    letter-spacing: 0.2em;
    color: #0087f5;
}